
div.list-element:nth-child(odd){
    background-color: rgba(255,255,255,0.5);
    color: black;
}
div.list-element:nth-child(even){
    background-color: rgba(255,255,255,0.2);
    color: black;
}
div.list-element{
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 50px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

div.list-element{
    display: grid;
}
div.list-element img{
    background-color: white;
    width: 100%;
    height: 100%;
}
