div#modal-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

div.component{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d1d8e0;
    padding: 2px 20px 10px 20px;
    display: block;
    box-shadow: 0px 0px 10px #4b6584;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
}
