div.product-editor{
    background-color: #d1d8e0;
    padding: 2px 20px 10px 20px;
    display: block;
    box-shadow: 0px 0px 10px #4b6584;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;

}
form{
    display: grid;
    grid-template-columns: 50% 50%;
}
