div.product-editor{
    border: 2px solid black;
    background-color: white;
}
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
form{
    display: grid;
    grid-template-columns: 50% 50%;
}

div.img-uploader img{
    width: 200px;
    height: 200px;
}
